@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --cor1: #E0513C;
    --cor2: black;
    --cor3: white;
    --cor4: #3eb1c8;
}

* {
    margin: 0px;
    padding: 0px;
}

body {

}

header {

}

main {
    min-width: 300px;
    max-width: 700px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
}

article {

}

section {

}

nav {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

footer{
    background-color: #202020;
}
footer > p {
    margin: 50px;
    padding: 10px;
    text-align: center;
    letter-spacing: .15ex;
}

h1 {
    color: var(--cor1);
    text-align: left;
    margin: 10px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-top: 30px;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-weight: lighter;
    text-align: justify;
}

strong {
    letter-spacing: .15ex;
}

img {
    width: 565px;
}

nav > a {
    color: var(--cor3);
    text-decoration: none;
    transition-duration: 0.2s;
    padding-left: 10px;

}

nav > a:hover {
    color: var(--cor4);
    border-radius: 10px;
}

li {
    padding: 10px;
    font-family: 'roboto';
    font-weight: lighter;
    text-align: justify;
}

hr {
    margin-top: -42px;
}

.blue-text {
    color: var(--cor4);
    text-align: center;
    margin: 30px 0px 30px 0px;
}

.prf {
    color: var(--cor4);
}